.container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#z-head {
  position: fixed;
  z-index: 10;
}

.head.hide {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.head {
  width: 100%;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
  background-color: white;
  -webkit-transition: .8s;
  transition: .8s;
}

.head .head-title {
  margin: 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head .head-title .title-color {
  color: blue;
}

.head .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head .head-menu {
  margin: 0;
}

.head .head-menu .menu-search {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.head .head-menu .menu-search .search-box {
  width: 100%;
  max-width: 800px;
}

.sidebar {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-top: 113px;
}

.main-visual {
  width: 95%;
  margin: 130px auto 10px;
}

.main-visual .notice {
  background-color: #cccccc;
}

.main-visual .main-image {
  max-width: 1162px;
  width: 100%;
  height: 630px;
  background-image: url("img/fashion.jpg");
  background-size: cover;
}

.main-visual .main-contents {
  width: 100%;
}

.main-visual .main-contents .row {
  margin: 5px auto;
}

.main-visual .main-contents .contents-title {
  width: 100%;
}

.main-visual .main-contents .recomend-item {
  width: 100%;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
}

.main-visual .main-contents .recomend-item .img {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .main-visual .main-contents {
    max-width: 100%;
  }
  .main-visual .main-contents .recomend-item {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-visual .main-contents {
    max-width: 100%;
  }
  .main-visual .main-contents .recomend-item {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .main-visual .main-contents {
    max-width: 100%;
  }
  .main-visual .main-contents .recomend-item {
    width: 25%;
  }
}

.main-visual .main-contents .new-item {
  width: 100%;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
}

.main-visual .main-contents .new-item .img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .main-visual .main-contents {
    max-width: 100%;
  }
  .main-visual .main-contents .new-item {
    width: 33%;
  }
}
/*# sourceMappingURL=copy.css.map */