.container{
    display: flex;
    justify-content: space-between;
}

.head {
    .head-title {
        margin: 15px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .head-menu {
        margin: 15px;
    }
}

.main-visual {
    width: 80%;
    .notice {
        background-color: rgba(204, 204, 204, 1);
    }
    .main-img {
        width: 80%;
    }
    .recomend-item {
        width: 100%;
        height: 280px;
        margin: 10px;
        box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .5);
        .img {
            width: 100%;
            height: 200px;
        }
    }
    .new-item {
        width: 330px;
        height: 310px;
        margin: 5px;
        box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .5);
        .img {
            width: 100%;
            height: 300px;
        }
    }
}



.resizeimage {
    width: 100%;
}







