.container{
    display: inline-flex;
    justify-content: space-between;
}

#z-head {
    position: fixed;
    z-index: 10;
}

.head.hide{
    transform: translateY(-100%);
}

.head {
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    padding-bottom: 10px;
    background-color: rgba(255,255,255,1);
    transition: .8s;
    .head-title {
        margin: 15px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        .title-color {
            color: blue;
        }
    }
    .container{
        display: flex;
        justify-content: space-between;
    }
    .head-menu {
        margin: 0;
        .menu-search {
            flex-grow: 3;
            .search-box {
                width: 100%;
                max-width: 800px;
            }
        }
    }
}

.sidebar {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-top: 113px;
}

.main-visual {
    width: 95%;
    margin: 130px auto 10px;
    .notice {
        background-color: rgba(204, 204, 204, 1);
    }
    .main-image {
        max-width: 1162px;
        width: 100%;
        height: 630px;
        background-image: url("img/fashion.jpg");
        background-size: cover;
    }
    .main-contents {
        width: 100%;
        .row {
            margin: 5px auto;
        }
        .contents-title {
            width: 100%;
        }
        .recomend-item {
            width: 100%;
            box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .5);
            .img {
                width: 100%;
            }
        }
        @media screen and (min-width: 480px) {
            max-width: 100%;
            .recomend-item {
                width: 100%;
            }
        }
        
        @media screen and (min-width: 768px) and (max-width: 1024px) {
            max-width: 100%;
            .recomend-item {
                width: 50%;
            }
        }
        
        @media screen and (min-width: 1024px) {
            max-width: 100%;
            .recomend-item {
                width: 25%;
            }
        }
        .new-item {
            width: 100%;
            box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .5);
            .img {
                width: 100%;
            }
        }

        @media screen and (min-width: 768px) {
            max-width: 100%;
            .new-item {
                width: 33%; 
            }
        }
    }
}

.test {
    width: 1000px;
    .test-test {
        display: inline;
    }
}
